/* this is a green */
/* http://flatuicolors.com/ */
ul li {
  list-style-type: none;
}
ul.basic {
  width: 100%;
  height: 100%;
}
ul.basic li {
  text-align: center;
  padding-top: 80px;
  font-size: 22px;
}
/* app css stylesheet */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/*
hover over icon and it jumps up like tumblr
*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  *zoom: 1;
}
/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*/
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  background-size: 100% auto;
  background: url("../img/background.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Century Gothic, arial, sans-serif;
}
#master {
  height: 400px;
  width: 50%;
  margin: 0 auto;
}
#header {
  background: url("../img/logo.png") no-repeat center center;
  height: 192px;
  background-size: 70px auto;
}
.shadow {
  -moz-box-shadow: 5px 5px 5px #858585;
  -webkit-box-shadow: 5px 5px 5px #858585;
  box-shadow: 5px 5px 5px #858585;
}
.border {
  border: 1px solid #c8c8c8;
}
.background {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.app-screen {
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.app-screen h1.title {
  font-size: 2.3em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.app-screen h1,
.app-screen h2,
.app-screen h3,
.app-screen h4,
.app-screen h5,
.app-screen h6 {
  font-family: Century Gothic, arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none !important;
}
.choice {
  /*    .rounded-base(5px);*/

  /*    padding: 5px;*/

  /*    background-color: rgba(0, 0, 0, 0.3);*/

  font-family: Century Gothic, arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.choice:hover {
  transition: 0.2s;
  /*zoom: 130%;*/

  cursor: pointer;
}
.choice:hover img {
  margin-top: -5px;
  margin-bottom: 5px;
}
.choice img {
  height: auto;
  width: 50px;
}
.choice p {
  color: rgba(0, 0, 0, 0.8);
}
#one {
  margin-top: 50px;
}
.rn-carousel-container {
  height: 100%;
}
#create_screen .create-form {
  width: 400px;
  margin: auto;
}
#create_screen .pure-form input,
#create_screen .pure-form .pure-input-rounded {
  margin: 10px auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  line-height: 2em;
  font-size: 1em;
  color: #000000;
  font-family: Century Gothic, arial, sans-serif;
}
#create_screen .pure-form input::-webkit-input-placeholder,
#create_screen .pure-form .pure-input-rounded::-webkit-input-placeholder {
  color: #333333;
}
#create_screen .pure-form input:-moz-placeholder,
#create_screen .pure-form .pure-input-rounded:-moz-placeholder {
  color: #333333;
}
#create_screen .pure-form input::-moz-placeholder,
#create_screen .pure-form .pure-input-rounded::-moz-placeholder {
  color: #333333;
}
#create_screen .pure-form input:-ms-input-placeholder,
#create_screen .pure-form .pure-input-rounded:-ms-input-placeholder {
  color: #333333;
}
#create_screen .pure-form select {
  margin: 10px auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  line-height: 2em;
  font-size: 1em;
  color: #000000;
  font-family: Century Gothic, arial, sans-serif;
  height: 28px;
  width: 100%;
  /*-webkit-appearance: none;*/

}
#create_screen .pure-form select::-webkit-input-placeholder {
  color: #333333;
}
#create_screen .pure-form select:-moz-placeholder {
  color: #333333;
}
#create_screen .pure-form select::-moz-placeholder {
  color: #333333;
}
#create_screen .pure-form select:-ms-input-placeholder {
  color: #333333;
}
#create_screen .pure-form #search {
  margin: 0 auto;
  text-align: center;
}
#create_screen .pure-form #search h2 {
  font-family: Century Gothic, arial, sans-serif;
  text-align: center;
  font-size: 3em;
}
.primary-action-button {
  color: #ffffff;
  -webkit-border-radius: 5px;
  /* Safari prototype */

  -moz-border-radius: 5px;
  /* Gecko browsers */

  border-radius: 5px;
  /* Everything else - limited support at the 
moment */

  font-family: Century Gothic, arial, sans-serif;
  background-color: #2ecc71;
  border: 1px solid #27ae60;
  font-size: 1.3em;
}
.primary-action-button:hover {
  /*        background-*/

}
.facebook-button {
  color: #ffffff;
  -webkit-border-radius: 5px;
  /* Safari prototype */

  -moz-border-radius: 5px;
  /* Gecko browsers */

  border-radius: 5px;
  /* Everything else - limited support at the 
moment */

  font-family: Century Gothic, arial, sans-serif;
  background-color: #4c66a4;
}
.twitter-button {
  color: #ffffff;
  -webkit-border-radius: 5px;
  /* Safari prototype */

  -moz-border-radius: 5px;
  /* Gecko browsers */

  border-radius: 5px;
  /* Everything else - limited support at the 
moment */

  font-family: Century Gothic, arial, sans-serif;
  background-color: #2c77ba;
}
