<div id="choose_screen" class="app-screen">
  <h1 class="title">Please make a selection</h1>

  <div id="one" class="pure-g-r">
    <div class="pure-u-1-2">
      <a href="/survey/food">
        <div class="choice">
          <img src="/img/foods.png"/>
          <p>
            Food
          </p>
        </div>
      </a>
    </div>
    <div class="pure-u-1-2">
      <a href="/survey/drinks">
        <div class="choice">
          <img src="/img/drinks.png"/>
          <p>
            Drinks
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
