<div id="vote_screen" class="app-screen">
  <h1 class="title">Swipe Left or Right to Vote</h1>
  <!--
      <timer limit='limit' finished='finished' class="timer">
        {{ limit }}
      </timer>
      -->
  <div>
    <h3 ng-bind="item.name">Please wait...</h3>
    <img width="50px" height="50px" ng-src="{{item.image}}">
    <ul>
      <li ng-repeat="category in item.categories">{{category}}</li>
    </ul>
  </div>
  <button ng-click="like()">Like</button>
  <button ng-click="dislike()">Dislike</button>
</div>
