<div id="vote_screen" class="app-screen">
  <h1 class="title">{{survey.message}}</h1>
<!--  <h2 class="subtitle">Swipe Left or Right to Vote</h2>-->
  <!--
  <timer limit='limit' finished='finished' class="timer">
    {{ limit }}
  </timer>
  -->

  <div id="scrollview-container">
    <div id="scrollview-content" class="yui3-scrollview-loading">
      <ul id="main_list">
        <li ng-repeat="item in items" class="candidate-container">
          <div class="candidate">
          <h3 ng-bind="item.name">Please wait...</h3>
          <img class="candidate-image" ng-src="{{item.image}}" />
          <ul>
            <li ng-repeat="category in item.categories">{{category}}</li>
          </ul>
          <div class="pure-g-r voting-button-container">
            <div class="pure-u-1-2">
              <input type="image" src="img/cancel.png" class="voting-button" ng-click="dislike(item)">
            </div>
            <div class="pure-u-1-2">
              <input type="image" src="img/accept.png" class="voting-button" ng-click="like(item)">
            </div>
          </div>
        </li>
        </div>
      </ul>
    </div>
  </div>
</div>

<div scrollview>
</div>
