<!DOCTYPE html>
<html>
<head>
    <title>Democracy</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="css/app.css" type="text/css" />
</head>
<body ng-app="myApp" ng-controller="AppController">
    <div id="master">
        {{> head }}
        {{{ yield }}}
        <!-- {{> foot }} -->
    </div>
    <script src='js/lib/angular/angular.js'></script>
     <script src='js/lib/swipe.js'></script>
     <script src='js/lib/countdown.js'></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.5.0/ui-bootstrap-tpls.min.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places'></script>
    <script src='js/app.js'></script>
    <script src='js/services.js'></script>
    <script src='js/controllers.js'></script> 
    <script src='js/filters.js'></script>
    <script src='js/directives.js'></script>
</body>
</html>
